body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; 
    margin: 0;
    padding: 20px;
    font-family: "Verdana", "Courier New", monospace;
    font-weight: bold;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(17,119,180,0.9192051820728291) 44%, rgba(0,31,255,1) 100%);
}

header{
    padding: 3px;
    text-align: center;
    background-color: rgba(239, 239, 249, 0.154);
    border-radius: 5px;
    border: 0.1px none rgb(209, 209, 243);
    color: white;
    font-size: 10px;
    text-align: left;
    padding-left: 25px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
table {
    width: 450px;
    border-radius: 5px;
    background-color:transparent;
    border-radius: 10px;
    font-size: 13px;
    border: 1px solid #756f6f2d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 9px
}

table tbody {
    text-align: left;
    background-color: transparent;
    border-radius: 10px;
}

tr{
    display: flex;
    background-color:#fcfcfc;
    transition: background-color 0.3s ease;
}

tr.materia td{
    background-color: transparent;
}

td {
    padding: 10px;
    flex: 1; 
    display: flex;
    align-items: center; 
}

select {
    width: 100%;
    padding: 5px;
    font-size: 14px;
    background-color: rgb(183, 183, 183);
    border: 1px solid #7a555546;
    border-radius: 3px;
    font-weight: bold;
}

tr.materia.cursando td, tr.materia.cursando select {
    background-color: #4598eb; 
}

tr.materia.aprobada td, tr.materia.aprobada select {
    background-color: #a8e014; 
}

tr.materia.regularizada td, tr.materia.regularizada select {
    background-color: #edd316; 
}

tr.materia.sinEstado td, tr.materia.sinEstado td {
    background-color: #a8a6a6; /* Gris para sin estado */
}

#resetButton{
    height: 30px;
    width: 30px;
    font-size: 20px;
}