body{
    background-color: rgb(255, 255, 255);
}

table {
    width: 500px;
    margin: 0px; 
    font-size: 16px;
    background-color: #ffffff;
    border-radius: 3px;
}

tr{
    background-color: rgb(252, 252, 252);
}

tbody {
    text-align: left; 
}

td {
    padding: 5px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
